<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vistaprincipal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cambiar de Pais"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">

        <activity
            android:name=".recetas.RecetasPeru"
            android:theme="@style/AppthemeDos"
            android:screenOrientation="portrait"
            android:exported="false" />
        <!--
        <activity
            android:name=".recetas.Suspiro"
            android:exported="false" />
        <activity
            android:name=".recetas.Pastelito"
            android:exported="false" />
            -->

        <activity
            android:name=".recetas.RecetasArgentina"
            android:theme="@style/AppthemeTres"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".PostresPeru"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".PostresArgentina"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SeleccionPaises"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>